<div *ngIf="paises.length===0; else divTabla">
    <div id="loader">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="loading"></div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
     <p >Esperando a que se seleccione algo...</p>
</div>
<ng-template #divTabla>
    <ngx-table [configuration]="configuration"
           [data]="paises"
           [columns]="columns">
</ngx-table>

</ng-template>